
#infoJour {
    text-align: right;
    margin-right: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

#userProfil {
    margin-top:10px;
}

.iconProfil {
    color: #5B077B;
    margin-left:20px;
    font-size: 22px;
    width:19px;
    height:19px;
}

#contentFormulaire {
    display:grid;
    grid-template-columns: repeat(2, 370px 400px);
    padding:20px 50px 50px 50px;
    color: #102e45;
    width:820px;
    margin:auto;
}

h4 {
    font-family: TravisZone, sans-serif;
    color: #5B077B;
    letter-spacing: 3px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: -120px;
}

#colGauche {
    grid-column: 1;
    text-align: left;
    width: 400px;
}

#colCentre {
    grid-column: 2;
    text-align: left;
}

#labelCampus {
    display: inline-block;
    width: 98px;
}

#inputCampus {
    display: inline;
}

#inputCampus #recherche_campus {
    height: 25px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

#inputCampus #recherche_campus::selection {
    background-color: #1e4b6d;
}

#recherche {
    margin-top:15px;
}

#inputRecherche input {
    width: 303px;
    border: none;
    height: 25px;
    padding:3px;
    border-radius:5px;
    margin-top: 4px;
    margin-bottom:1px;
}

.iconRecherche {
    display: inline-block;
    margin-left: -25px;
    color:#5B077B;
}

#recherche_dateUn, #recherche_dateDeux {
    height:25px;
    border:none;
    border-radius:5px;
    margin: 0 2px;
    width: 114px;
    -webkit-appearance: none;
}

#recherche_dateDeux {
    margin-left: 1px;
}

#colCentre label {
    margin-left:10px;
}

input[type=checkbox] {
    -moz-appearance: none;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid #5B077B;
    cursor: pointer;
    position: absolute;
    margin-left: -15px;
    margin-top: 2px;
}


input[type="checkbox"]:checked {
    color: #FFF;
    background-color: #5B077B;
}

input[type="checkbox"]:checked:before {
    font-family: 'QuicksandBook', serif;
    content: '✔';
    display: block;
    color: #FFF;
    font-size: 13px;
    position: absolute;
    margin-left:1px;
    margin-top:-4px;

}

input[type="checkbox"]:disabled {
    border: 2px solid #cdcdcd;
    background-color: #f1f1f1;
}

.espace {
    height:14px;
}

.boutonRechercher {
    border:none;
    background-color: #5B077B;
    color: #F7F7F7;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    margin-left: 236px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.5s;
    z-index: 0;
    font-family: QuicksandBook, serif;
    margin-top:-20px;
}

.boutonRechercher:hover{
    background-color: #F7F7F7;
    color: #5B077B;
    transition-duration: 0.5s;
}

.titleList {
    display: inline-block;
    background-color: #11a5cf;
    color: #FFFFFF;
    padding:6px;
}

.contenuColonne {
    display: inline-block;
}

#contentList {
    background-color: #F7F7F7;
    color: #1e4b6d;
    width: 100%;
    padding:25px 0;
    text-align: left;
    margin-bottom: 20px;
}

.content-cards{
    width:350px;
    margin:20px;
    background-color: rgba(230, 237, 241, 0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 10px rgba(16, 46, 69, 0.21);
    transition-duration: 0.5s;
}

.content-cards:hover{
    box-shadow: 0 0 10px rgba(16, 46, 69, 0.45);
    cursor:pointer;
}

.content-cards:hover .boutons a, .content-cards:hover .iconInfos,
.content-cards:hover .iconInscrire, .content-cards:hover .iconDesistementn{
    color: rgb(91, 7, 123);
    transition-duration: 0.5s;
}

.content-cards:hover .lienOrganisateur {
    background-color: rgb(17, 165, 207);
    color: rgb(247, 247, 247);
}

.nom {
    background-color: #11a5cf;
    font-family: TravisZone, tahoma, arial, serif;
    color: #F7F7F7;
    font-size: 22px;
    padding:3px;
    letter-spacing: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.infos {
    text-align: left;
    margin:20px;
}

.iconDate, .iconOrganisateur{
    color: #5B077B;
    font-size: 24px;
    margin-right:10px;
}

.iconInfos, .iconInscrire, .iconDesistementn  {
    color: rgba(91, 7, 123, 0);
    font-size: 24px;
    margin-right:10px;
    transition-duration: 0.5s;
}

.iconInscrits {
    font-size: 18px;
    margin-right:10px;
    color: #5B077B;
}

.alignement {
    position: absolute;
    line-height: 25px;
}

.alignementInscrits, .alignementEtat {
    position: absolute;
    line-height: 18px;
}

.organisateur, .inscrits, .etat {
    margin-top:20px;
}

#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    max-width:1580px;
    margin: auto;
    transition-duration: 0.5s;
}

.boutons {
    margin-top:70px;
}

.boutons a {
    color: rgba(91, 7, 123, 0);
    text-decoration: none;
    margin:10px;
    transition-duration: 0.5s;
}

.iconInscrire, .iconDesistement, .iconInfos {
    font-size: 22px;
}

.btnOrganisateur {
    margin:20px;
}

.lienOrganisateur {
    background-color: rgba(17, 165, 207, 0);
    color: rgba(247, 247, 247, 0);
    padding:5px;
    text-decoration: none;
    border-radius:5px;
    cursor:pointer;
    transition-duration: 0.5s;
}

#titleUn {
    border-top-left-radius: 5px;
}

#titleHuit {
    border-top-right-radius: 5px;
}

.contenuColonne {
    padding:6px;
    background-color: rgba(230, 237, 241, 0.8);
}

#btnAjouterSortie {
    background-color: #5B077B;
    color: #F7F7F7;
    padding:10px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:30px;
    transition-duration: 0.5s;
}

#btnAjouterSortie:hover {
    color: #5B077B;
    background-color: #F7F7F7;
    transition-duration: 0.5s;
}

.action a {
    color: #1e4b6d;
    text-decoration: none;
    font-weight: bold;
}

.check{
    color: #5B077B;
}

#recherche_campus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#inputCampus::after {
    content: '';
    position: absolute;
    margin-top: 9px;
    margin-left:-22px;
    width: 0; height: 0;
    border-color: transparent;
    border-top-color: #5B077B;
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}

.alert.alert {
    background-color: #B0413E;
    color: #FFFFFF;
    padding: 5px;
    width: 100%;
    position: relative;
    top:196px;
}

.alert.success {
    background-color: #939200;
    color: #FFFFFF;
    padding: 5px;
    width: 100%;
    position: relative;
    top:196px;
}

/*soon*/

#colCentre :nth-child(6):after,
#colCentre :nth-child(10):after{
    content: " (soon)";
    color: white;
    font-style: italic;
}

@media screen and (min-width: 1221px) and (max-width: 1570px) {

    #content {
        grid-template-columns: repeat(3, 1fr);
        max-width:1280px;
    }

}

@media screen and (min-width: 1051px) and (max-width: 1220px) {

    #content {
        grid-template-columns: repeat(2, 1fr);
        max-width:800px;
    }

}

@media screen and (min-width: 841px) and (max-width: 1050px) {

    #infoJour {
        color: rgba(255, 255, 255, 0);
    }

    .iconProfil {
        color: rgba(91, 7, 123, 0);
    }

    #content {
        grid-template-columns: repeat(2, 1fr);
        max-width:800px;
    }

}

@media screen and (min-width: 0px) and (max-width: 840px) {

    #infoJour {
        color: rgba(255, 255, 255, 0);
    }

    .iconProfil {
        color: rgba(91, 7, 123, 0);
    }

    #content {
        grid-template-columns: repeat(1, 1fr);
        max-width:430px;
    }

    #contentFormulaire {
        display: none;
    }

    h4 {
        color: rgba(91, 7, 123, 0);
    }

    .alert.alert {
        top:0;
    }

    .alert.success {
        top:0;
    }

}