h1 {
    font-family: TravisZone, tahoma, arial, serif;
    color: #5B077B;
    letter-spacing: 3px;
    margin:20px;
}

#contentFormOrganiser {
    background-color: #F7F7F7;
    color: #1e4b6d;
    width: 740px;
    border-radius: 5px;
    margin:auto;
    padding:20px;
}

#contentGrid {
    display: grid;
    grid-template-columns: 300px 300px;
}

#gauche, #droite {
    text-align: left;
}

#labelNom {
    display: inline-block;
    width:220px;
}

#inputNom {


}

#sortie_nom {
    background-color: #84cbe2;
    color: #1e4b6d;
    padding:3px;
    border-radius: 5px;
    border: none;
    width:237px;
    margin-top:5px;
}

#labelDateHeureDebut, #labelDuree, #labelDateLimiteInscription, #labelNbInscriptionsMax, #labelLieu {
    margin-top:20px;
}

#sortie_dateHeureDebut_date {
    display: inline-block;
    margin-top: 5px;
    background-color: #84cbe2;
    color: transparent;
    padding:3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#sortie_dateHeureDebut_time {
    display: inline;
    background-color: #84cbe2;
    color: transparent;
    padding:3px 3px 4px 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#sortie_dateHeureDebut_date_day, #sortie_dateHeureDebut_date_month, #sortie_dateHeureDebut_date_year,
#sortie_dateHeureDebut_time_hour, #sortie_dateHeureDebut_time_minute {
    background: none;
    border: none;
    color: #1e4b6d;
}

#inputDuree, #inputDateLimiteInscription, #inputNbInscriptionsMax, #inputInfosSortie, #inputLieu {
    margin-top:5px;
}

#sortie_duree, #sortie_dateLimiteInscription, #sortie_nbInscriptionsMax, #sortie_lieu {
    background-color: #84cbe2;
    color: #1e4b6d;
    padding:3px;
    border-radius: 5px;
    border: none;
    width:237px;
}

#sortie_infosSortie {
    background-color: #84cbe2;
    color: #1e4b6d;
    padding:3px;
    border-radius: 5px;
    border: none;
    width:400px;
    height:150px;
}

#btnCreate {
    margin-top:30px;
}

#sortie_create {
    background-color: #5B077B;
    padding:5px;
    color: #F7F7F7;
    border: none;
    cursor:pointer;
    border-radius:5px;
    font-family: QuicksandBook, serif;
    font-size: 14px;
    margin:3px;
}

#btnAnnuler {
    background-color: #F7F7F7;
    padding:3px;
    color: #5B077B;
    border: solid 2px #5B077B;
    cursor:pointer;
    border-radius:5px;
    font-family: QuicksandBook, serif;
    text-decoration: none;
    margin:3px;
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#sortie_lieu {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#inputLieu::after {
    content: '';
    position: absolute;
    margin-top: 9px;
    margin-left:-22px;
    width: 0; height: 0;
    border-color: transparent;
    border-top-color: #5B077B;
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}

#sortie_dateHeureDebut_date_day, #sortie_dateHeureDebut_date_month, #sortie_dateHeureDebut_time_hour, #sortie_dateHeureDebut_time_minute {
    width:38px;
    -moz-appearance: none;
    background-color: #84cbe2;
    border: none;
}

#sortie_dateHeureDebut_date_year {
    width: 57px;
    -moz-appearance: none;
    background-color: #84cbe2;
    border: none;
}

#iconJour::after, #iconMois::after, #iconAnnee::after, #iconHeure::after, #iconMinute::after {
    content: '';
    position: absolute;
    width: 0; height: 0;
    border-color: transparent;
    border-top-color: #5B077B;
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
    margin-top: 15px;
}

#iconJour::after {
    margin-left:26px;
}

#iconMois::after {
    margin-left:68px;
}

#iconAnnee::after {
    margin-left:130px;
}

#iconHeure::after {
    margin-left: 178px;
}

#iconMinute::after{
    margin-left: 220px;
}

.alert.alert {
    background-color: #B0413E;
    color: #FFFFFF;
    padding: 5px;
    width: 740px;
    margin: auto auto 20px;
    border-radius: 5px;
}