.flash{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

h1 {
    color: #5B077B;
    font-family: TravisZone, tahoma, arial, serif;
    letter-spacing: 3px;
    margin: 20px;
}

#contentForm {
    background-color: #F7F7F7;
    padding:20px;
    width:500px;
    margin:auto;
    border-radius: 5px;
    text-align: left;
    color: #1e4b6d;
}

.label {
    display: inline-block;
    width:253px;
    margin:7px 0;
}

.input {
    display: inline;
}

.input input {
    background-color: #84cbe2;
    color: #1e4b6d;
    padding:3px;
    border-radius: 5px;
    width:200px;
    border:none;
}

#btnSave {
    text-align: center;
    margin-top:20px;
}

#participant_create {
    background-color: #5B077B;
    padding:5px;
    color: #F7F7F7;
    border: none;
    cursor:pointer;
    border-radius:5px;
    font-family: QuicksandBook, serif;
    font-size: 14px;
    margin:3px;
}

#btnAnnuler {
    background-color: #F7F7F7;
    padding:3px;
    color: #5B077B;
    border: solid 2px #5B077B;
    cursor:pointer;
    border-radius:5px;
    font-family: QuicksandBook, serif;
    text-decoration: none;
    margin:3px;
    font-size: 14px;
}