@font-face {
    font-family: TravisZone;
    src: url("../fonts/TravisZone.ttf") format("truetype");
}

@font-face {
    font-family: QuicksandBold;
    src: url("../fonts/QuicksandBold.otf") format("opentype");
}

@font-face {
    font-family: QuicksandBook;
    src: url("../fonts/QuicksandBook.otf") format("opentype");
}

@font-face {
    font-family: QuicksandLight;
    src: url("../fonts/QuicksandLight.otf") format("opentype");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    background-color: #11a5cf;
    text-align: center;
}


#logo {
    left: 0;
    position: absolute;
    padding:20px;
}

#imglogo {
    width:200px;
    height:70px;

}

#container {
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100px;
}

#menu {
    margin-top:28px;
    right: 0;
    position: absolute;
    padding:20px;
}

#menu ul li {
    float:left;
    margin:0 20px;
    list-style: none;


}

#menu ul li a {
    font-family: QuicksandBold, serif;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 0.2s;
}

#menu ul li a:hover{
    color: #034758;
    transition-duration: 0.5s;
}

footer {
    padding:10px;
}

#burger {
    display: none;
}

/* Style des contenus */
#form1 label {
    background:#FFFFFF;
    display:block;
    padding:5px;
    color:#F3ECE5;
    text-align:center;
    font-weight:bold;
    border-radius:2px;
    cursor:pointer;
}

#contenu {
    display:flex;
    align-items:center;
    background: #ffffff;
    position:fixed;
    top:0;
    right:-200px;
    width:200px;
    height:100vh;
    overflow:hidden;
    transition:all ease-in 0.4s;}

#contenu #textes {
    width:60%;
    margin:0 auto;
}

#contenu p {
    margin-bottom:.8em;
}

#contenu p:last-child {
    margin-bottom:0;
}

/* Menu burger */
#menu-burger {
    position:absolute;
    z-index:10;
    top:2.5em;
    right:2.8em;
    cursor:pointer;
    display:none;
    transition:0.55s;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
    display:block;
    width:20px;
    height:3px;
    background-color:#11a5cf;
    margin:4px 4px;
    transition:0.4s;
}

input[type="checkbox"]#burger:checked ~ label .bar1 {
    -webkit-transform:rotate(-45deg) translate(-5px, 5px);
    transform:rotate(-45deg) translate(-5px, 5px);
}

input[type="checkbox"]#burger:checked ~ label .bar2 {
    opacity: 0;
}

input[type="checkbox"]#burger:checked ~ label .bar3 {
    -webkit-transform:rotate(45deg) translate(-5px, -5px);
    transform:rotate(45deg) translate(-5px, -5px);
}

/* Effet Slide/Swipe pleine page */
#form1 input[type="checkbox"]:checked ~ #contenu {
    right:0;
}

#form1 input[type="checkbox"]:checked ~ #menu-burger {
    right:5.0em;
    transition:0.55s;
}

#menuResp {
    width:100%;
}

#menuResp ul li {
    list-style: none;
    padding:20px 0;
}

#menuResp ul li a {
    font-family: QuicksandBook, serif;
    font-weight: bold;
    color: #11a5cf;
    text-decoration: none;

}
#wrapper {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 1050px) {

    #wrapper {
        display: inline;
    }

    #menu {
        display: none;
    }

    #menu-burger {
        display:block;
    }


}