{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock title %}

{% block main %}

    <p>test</p>
    <a href="{{ path('sortie_organiser') }}">Organiser une sortie</a>
{% endblock main %}